.seriesCarousel {
	width: 90%;
	margin: auto;
	max-width: 600px;
	border: 2px solid #f1f1f1;
}

.header {
	margin-top: 20px;
	font-size: calc(3vw + 30px);
	text-align: center;
}

.epName {
	
	font-size: calc(2vw + 20px);
	margin: auto;
	width: 90%;
	max-width: 600px;
	margin-bottom: 15px;
}


.description {
	margin: auto;
	width: 90%;
	text-align: center;
	max-width: 800px;
	font-size: calc(0.3vw + 14px);
	margin-bottom: 40px;
}

.backButton {
	margin-top: 20px;
	margin-bottom:30px;
	margin-left: 20px;
	cursor: pointer;
	font-size: 24px;

}

.backButton:hover {
	color: #2a67b6;
}